@keyframes rotate-circle {
    from {
      transform: rotate(-360deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .cirle-img {
    animation-name: rotate-circle;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .our-team-slider {
    outline: none;
  }
  
  .slider_three_mobile {
    .slick-list {
      padding: 0 70px !important;
    }
  }
  
  .slider_second_mobile {
    .slick-list {
      padding: 0px 20px !important;
    }
  }
  
  .image_styling {
    position: absolute;
    top: 0px;
  }